
<div id="street">
    <video src="assets/model/street/mp4/b5f4237479adf281.mp4" id="video1" playsinline="" webkit-playsinline="" muted="" loop="" autoplay="" style="display:none"></video>
    <video src="assets/model/street/mp4/dbb055f72f321b79.mp4" id="video2" playsinline="" webkit-playsinline="" muted="" loop="" autoplay="" style="display:none"></video>
    <video src="assets/model/street/mp4/34a7a444fc4ba416.mp4" id="video3" playsinline="" webkit-playsinline="" muted="" loop="" autoplay="" style="display:none"></video>
    <video src="assets/model/street/mp4/2a1640c8c9214839.mp4" id="video4" playsinline="" webkit-playsinline="" muted="" loop="" autoplay="" style="display:none"></video>
    <video src="assets/model/street/mp4/cb16e6bfba8fce73.mp4" id="video5" playsinline="" webkit-playsinline="" muted="" loop="" autoplay="" style="display:none"></video>
    <video src="assets/model/street/mp4/1f0a13b263f87dfe.mp4" id="video6" playsinline="" webkit-playsinline="" muted="" loop="" autoplay="" style="display:none"></video>
    <video src="assets/model/street/mp4/e228c60f8f9001a5.mp4" id="video7" playsinline="" webkit-playsinline="" muted="" loop="" autoplay="" style="display:none"></video>

</div>