<div class="content" style="margin: 0px;flex-direction: row;">
    <div class="card-container">
        <a class="card" rel="noopener" routerLink="/shader/star">
            <span>star</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            </svg> </a>
    </div>
    <div class="card-container">
        <a class="card" rel="noopener" routerLink="/shader/cube">
            <span>cube</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            </svg> </a>
    </div>
    <div class="card-container">
        <a class="card" rel="noopener" routerLink="/shader/shanghai">
            <span>shanghai</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            </svg> </a>
    </div>
</div>
<router-outlet></router-outlet>